body{
            /*Grid Configuration*/
            row-gap: 2dvh;

            /*Scroll*/
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
        }

        #ContentContainer{
            display: grid;
            height: min-content;
            width: inherit;

            /*Grid Config*/
            grid-auto-flow: row;
            grid-auto-rows: min-content;
            row-gap: 2dvh;

            /*Border*/
            box-sizing: border-box;

            /*Padding*/
            padding-left: 0.5dvw;
            padding-right: 0.5dvw;
        }

        #ManageLeave{
            display: grid;
            height: fit-content;
            width: fit-content;

            /*Grid Configuration*/
            grid-auto-flow: column;
            column-gap: 1dvw;

            /*Font*/
            font-family: var(--FontFamily);
            font-size: var(--Header50PXApproximate);

            

            /*Text*/
            text-align: center;
            color: white;

            /*Padding*/
            padding-bottom: 2dvh;
        }

        #ManageLeave span:nth-child(1){
            display: grid;
            height: min-content;
            background-color: black;

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderWhite);
            box-sizing: border-box;
            
            /*Padding*/
            padding-top: 1dvh;
            padding-bottom: 1dvh;
            padding-right: 2dvw;
            padding-left: 2dvw;
        }

        #ManageLeave span:nth-child(2){
            display: grid;
            height: min-content;
            min-width: min-content;
            width: min-content;
            background-color: var(--OceanBlue);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterOceanBlue);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: nowrap;

            /*Padding*/
            padding-top: 1dvh;
            padding-bottom: 1dvh;
            padding-right: 2dvw;
            padding-left: 2dvw;
        }


        #ListHeaders{
            display: grid;
            width: min-content;
            height: min-content;

            /*Grid Configuration*/
            grid-auto-flow: column;
            grid-auto-columns: min-content;
            column-gap: 1dvw;
            place-self: center center;

            /*Font*/
            font-size: var(--Header40Approximate);
            font-weight: bold;
        }

        #NumHeader{
            display: grid;
            height: min-content;
            min-width: min-content;
            width: calc((4.5vmin * 2.7) + 2dvw);
            background-color: var(--LightGreen);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterGreen);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: nowrap;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
        }


        #LeaveTypeHeader{
            display: grid;
            height: min-content;
            min-width: min-content;
            width: calc((4.5vmin * 9) + 6dvw);
            background-color: var(--DarkPurple);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterDarkPurple);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: nowrap;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
        }

        #FromHeader, #ToHeader{
            display: grid;
            height: min-content;
            min-width: min-content;
            width: calc((4.5vmin * 3.2) + 6dvw);
            background-color: var(--Orange);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterOrange);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: nowrap;
            color: white;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
        }

        #StatusHeader{
            display: grid;
            height: min-content;
            width: calc((4.5vmin * 4.7) + 4dvw);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderWhite);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: nowrap;
            color: white;

            
        }
        #StatusHeader{
            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
            padding-right: 2dvw;
            padding-left: 2dvw;
        }
        
        
        #LeaveContainer{
            display: grid;
            height: min-content;
            max-height: 56dvh;
            width: 100%;

            /*Grid Configuration*/
            row-gap: 1dvh;

            /*Border*/
            box-sizing: border-box;

            /*Padding*/
            padding-top: 1dvh;

            /*Scroll*/
            overflow-y: scroll;
            scrollbar-width: none;
        }

        #LeaveContainer[data-mode="0"] .ListEmployeesLeave[data-mode="0"], #LeaveContainer[data-mode="1"] .ListEmployeesLeave[data-mode="1"]{
            display: grid;
            width: min-content;
            height: min-content;

            /*Grid Configuration*/
            grid-auto-flow: column;
            grid-auto-columns: min-content;
            column-gap: 1dvw;
            place-self: center center;

            /*Font*/
            font-size: var(--Header40Approximate);
            font-weight: bold;
        }

        #LeaveContainer[data-mode="0"] .ListEmployeesLeave[data-mode="1"], #LeaveContainer[data-mode="1"] .ListEmployeesLeave[data-mode="0"]{
            display: none;
            visibility: hidden;
            height: 0;
            width: 0;
        }

        .Num{
            display: grid;
            height: min-content;
            min-width: min-content;
            width: calc((4.5vmin * 2.7) + 2dvw);
            background-color: var(--LightGreen);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterGreen);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: wrap;
            text-align: center;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
        }


        .LeaveType{
            display: grid;
            height: min-content;
            min-width: min-content;
            width: calc((4.5vmin * 9) + 6dvw);
            background-color: var(--DarkPurple);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterDarkPurple);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: wrap;
            text-align: center;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
        }

        .From, .To{
            display: grid;
            height: min-content;
            min-width: min-content;
            width: calc((4.5vmin * 3.2) + 6dvw);
            background-color: var(--Orange);

            /*Grid Configuration*/
            place-content: center center;

            /*Border*/
            border: var(--BorderLighterOrange);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: wrap;
            text-align: center;
            color: white;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
        }


        .Status{
            display: grid;
            height: min-content;
            width: calc((4.5vmin * 4.7) + 4dvw);

            /*Grid Configuration*/
            grid-template-rows: 100%;
            grid-template-columns: 100%;
            place-content: center center;

            /*Border*/
            border: var(--BorderWhite);
            border-radius: 10px 10px 10px 10px;
            box-sizing: border-box;

            /*Text*/
            text-wrap: nowrap;
            text-align: center;
            color: white;

            /*Padding*/
            padding-top: 2dvh;
            padding-bottom: 2dvh;
            padding-right: 2dvw;
            padding-left: 2dvw;
        }