form{
    display: grid;
    height: 90.7408dvh;
    width: inherit;
}
form fieldset{
    display: grid;
    height: fit-content;
    max-height: 50dvh;
    background-color: var(--LightGray);

    /*Grid Configuration*/
    place-self: center center;
    row-gap: 4dvh;

    /*Border*/
    border: var(--BorderLighterLightGray);
    border-radius: 25px 25px 25px 25px;

    /*Padding*/
    padding-top: 3dvh;
    padding-bottom: 2dvh;
    padding-right: 2dvw;
    padding-left: 2dvw;
}
fieldset legend{
    background-color: black;

    /*Border*/
    border: var(--BorderWhite);

    /*Text*/
    color: white;
    text-align: center;

    /*Font*/
    font-family: var(--FontFamily);
    font-size: var(--Header50PXApproximate);

    /*Padding*/
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    padding-right: 2dvw;
    padding-left: 2dvw;
}

#GradeRowContainer{
    display: grid;
    width: fit-content;
    height: fit-content;
    max-height: 100%;

    /*Grid Configuration*/
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    row-gap: 2dvh;

    /*Scroll*/
    overflow-y: auto;
    scrollbar-width: thin;

    /*Padding*/
    padding-right: 0.5dvw;
}

.GradeRow{
    display: grid;
    height: min-content;
    width: min-content;

    /*Grid Configuration*/
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    column-gap: 1dvw;
}

.GradeName{
    display: grid;
    height: 7.4074dvh;
    width: 40.1042dvw;
    background-color: black;

    /*Grid Config*/
    place-content: center center;

    /*Border*/
    border: var(--BorderWhite);

    /*Text*/
    color: white;
    text-align: center;

    /*Font*/
    font-family: var(--FontFamily);
    font-size: var(--Header50PXApproximate);
}

.GradeAllocation{
    display: grid;
    height: 7.4074dvh;
    width: 9.0365dvw;
    background-color: white;

    /*Grid Config*/
    place-content: center center;

    /*Text*/
    color: black;
    text-align: center;

    /*Font*/
    font-family: var(--FontFamily);
    font-size: var(--Header40Approximate);
    font-weight: bold;

    /*Border*/
    border: var(--BorderWhite);
    box-sizing: border-box;
}

.GradeAllocation::-webkit-inner-spin-button,
.GradeAllocation::-webkit-outer-spin-button{
    opacity: 1;
}

#Error[data-status="0"]{
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

#Error[data-status="1"]{
    display: grid;
    height: 7.4074dvh;    
    width: inherit;
    background-color: var(--LightGreen);

    /*Grid Config*/
    place-content: center center;

    /*Border*/
    border: var(--BorderDarkGreen);
    border-radius: 15px 15px 15px 15px;

    /*Text*/
    color: white;
    text-align: left;

    /*Font*/
    font-family: var(--FontFamily);
    font-size: var(--Header50PXApproximate);

    /*Padding*/
    padding-left: 0.5dvw;
    padding-right: 0.5dvw;
}

#Error[data-status="2"]{
    display: grid;
    height: 7.4074dvh;
    width: inherit;
    background-color: var(--LighterOrange);

    /*Grid Config*/
    place-content: center center;

    /*Border*/
    border: var(--BorderOrange);
    border-radius: 15px 15px 15px 15px;

    /*Text*/
    color: white;
    text-align: left;

    /*Font*/
    font-family: var(--FontFamily);
    font-size: var(--Header50PXApproximate);

    /*Padding*/
    padding-left: 0.5dvw;
    padding-right: 0.5dvw;
}

#Save{
    display: grid;
    height: 10.1852dvh;
    width: 11.5885dvw;
    background-color: var(--DarkerBlue);

    /*Grid Configuration*/
    place-content: center center;
    place-self: center center;

    /*Text*/
    color: white;

    /*Font*/
    font-family: var(--FontFamily);
    font-size: var(--Header50PXApproximate);
    font-weight: bold;

    /*Border*/
    border-color: #5C79A3;
    border-radius: 20px 20px 20px 20px;
}